.App {
  text-align: center;
}

@font-face {
  font-family: 'Monofett-Regular';
  src: url('./assets/Monofett-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/JetBrainsMono-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin weight */
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
}

@font-face {
  font-family: 'VT323';
  src: url('./assets/VT323-Regular.ttf') format('truetype');
}

.header-title {
  font-family: "Monofett-Regular";
  font-size: 60pt;
  text-align: center;
}

.subheading-text {
  font-family: "JetBrains Mono";
  font-size: 12pt;
  font-weight: 100;
  text-align: center;
}

.test {
  background-color: blue;
}

.body {
  padding-bottom: 10px;
  height: calc(100vh - 130px);
}

.align-with-title {
  margin-top: 45px;
}

.instructions-header {
  font-family: "VT323";
  font-size: 40pt;
  text-align: center;
}

.instructions-body {
  font-family: "VT323";
  font-size: 15pt;
}

.translated-word {
  font-family: "JetBrains Mono";
  font-size: 50pt;
  text-align: center;
  font-weight: 700;
}

.success-background {
  font-family: "JetBrains Mono";
  font-size: 25pt;
  text-align: center;
}

.timer {
  padding-top: 10px;
  font-family: "VT323";
  font-size: 20pt;
}